In [73]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [7]:
# Diego

df_calendar = pd.read_csv("/Users/diegoma/kaggle/calendar.csv")
df_listings = pd.read_csv("/Users/diegoma/kaggle/listings.csv")
df_neighbourhoods = pd.read_csv("/Users/diegoma/kaggle/neighbourhoods.csv")
df_reviews = pd.read_csv("/Users/diegoma/kaggle/reviews.csv")
df_reviews_det = pd.read_csv("/Users/diegoma/kaggle/reviews_detailed.csv")
df_listings_det = pd.read_csv("/Users/diegoma/kaggle/listings_detailed.csv")

In [12]:
df_calendar.head(1)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,167183,2021-04-15,f,$45.00,$45.00,1.0,5.0

In [31]:
df_listings.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6369,"Rooftop terrace room , ensuite bathroom",13660,Simon,Chamartín,Hispanoamérica,40.45724,-3.67688,Private room,60,1,78,2020-09-20,0.58,1,180

In [20]:
df_listings_det.head(1)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6369,https://www.airbnb.com/rooms/6369,20210413152844,2021-04-15,"Rooftop terrace room , ensuite bathroom",Excellent connection with the AIRPORT and EXHI...,NaN,https://a0.muscache.com/pictures/683224/4cc318...,13660,https://www.airbnb.com/users/show/13660,...,10.0,10.0,10.0,NaN,f,1,0,1,0,0.58

In [23]:
len(df_neighbourhoods["neighbourhood_group"].unique())

21

In [24]:
len(df_neighbourhoods["neighbourhood"].unique())

128

In [77]:
df_listings['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room', 'Hotel room'],
      dtype=object)

In [48]:
df_listings = pd.read_csv("/Users/diegoma/kaggle/listings.csv")

In [67]:
df = pd.DataFrame(data = df_listings)

In [68]:
# Modelo de regresion lineal: df_listings
# Target = 'price'

# Preparar dataset
df = df.drop(['name','host_name','last_review'], axis = 1)
df.neighbourhood = df.neighbourhood.astype("category")
df.neighbourhood_group = df.neighbourhood_group.astype("category")
df.room_type = df.room_type.astype("category")

# Dividir train-test
X = df.drop(['price'], axis = 1)
y = df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y ,test_size = 0.3, random_state = 123)

In [71]:
df.dtypes

id                                   int64
host_id                              int64
neighbourhood_group               category
neighbourhood                     category
latitude                           float64
longitude                          float64
room_type                         category
price                                int64
minimum_nights                       int64
number_of_reviews                    int64
reviews_per_month                  float64
calculated_host_listings_count       int64
availability_365                     int64
dtype: object

In [ ]:
# Transformacion del categorical data en numerico
# Dos opciones:
# 1. valor numerico 1 - len(categoria) para cada variable categorica
# 2. dummie variables (one hot encoding), pero son demasiadas categorias

In [75]:
# Modelo regresivo
model = LinearRegression()
model.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/utils/validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

ValueError: Unable to convert array of bytes/strings into decimal numbers with dtype='numeric'